<%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav') %>

      <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-6xl">
        <h1>Welcome to Property Bookings</h1>

        <div class="flex flex-wrap justify-center gap-6">rh
        </div>
      </main>
  </body>

  </html>